# ---------------------------
# Core Python & utilitaires
# ---------------------------
numpy
scipy

# ---------------------------
# SLAM / Odometry / Vision
# ---------------------------
pyslam
scikit-image
opencv-python-headless
opencv-contrib-python
torch
torchvision
timm
ultralytics

# ---------------------------
# 3D & Nuages de points
# ---------------------------
vtk
trimesh
pyntcloud
pymeshlab

# ---------------------------
# Serveur / API / Web
# ---------------------------
flask
flask-cors
gunicorn

# ---------------------------
# Imagerie / traitement
# ---------------------------
Pillow
